.movies {
  padding: 38px 10px 26px;
  background-color: #fafafa;
}

.movies__button-more {
  width: 238px;
  height: 34px;
  background-color: #fafafa;
  outline: 1px solid #e8e8e8;
  padding: 0;
  border-radius: 6px;

  margin: 77px auto 55px;
  display: block;

  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

.movies__button-more:focus{
  outline: 2px solid #000;
}

@media (min-width: 768px) {
  .movies {
    padding: 70px 30px 30px;
  }

  .movies__button-more {
    width: 318px;
    margin: 80px auto 50px;
  }
}

@media (min-width: 1280px) {
  .movies {
    padding: 68px 70px 10px;
  }

  .movies__button-more {
    margin: 61px auto 56px;
  }
}
