.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 14px;
  background-color: #dddee3;
}

.header_theme-white {
  background-color: #fff;
}

.header__logo {
  cursor: pointer;
}

.header__link-register {
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;

  margin-right: 14px;
}

@media (min-width: 425px) {
  .header {
    padding: 22px;
  }

  .header__link-register {
    font-size: 11px;
    margin-right: 22px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 25px 30px 30px;
  }

  .header__link-register {
    font-size: 12px;
    margin-right: 30px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-left: 70px;
    padding-right: 70px;
  }
}
