.link {
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;

  text-decoration: none;

  color: #000;

  transition: opacity linear .3s;
}

.link:hover {
  opacity: 0.7;
}

@media (min-width: 425px) {
  .link {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .link {
    font-size: 12px;
  }
}
